/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/

body, html {
	height : 100%;
	font-family : "BioRhyme";
	overflow : hidden;
}

h1 {
	display : inline-block;
	margin : 17px;
	color : #889B7C;
	font-size : 18px;
}

.heading-wrapper {
	display : flex;
	flex-direction : column;
	justify-content: center;
 	height : 10%;
 	text-align : center;
 	
 	background-color : #EBF5DF;
	
}

.non-heading-wrapper {
	text-align : center;
 	height : 100%;
  	width : 100%;
  	background-color : #EBF5DF;
	color : #fff;
}

.flip-container {
	height : calc(95% - 40px);
	perspective: 1500px;
	position : relative;
	z-index : 5;
	transition : transform 200ms linear;
}

.flipper {
	height : 100%;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.go-flip {
	transform: rotateY(180deg);
}

.user.icon-select-outer, .computer.icon-select-outer {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 50%;
}

.user.icon-select-outer {
	z-index: 2;
	transform: rotateY(0deg) translateX(calc(-50% - 17px));

}

.computer.icon-select-outer {
	transform: rotateY(180deg) translateX(calc(50% + 17px));

}

.icon-select-outer {
  	display : flex;
  	flex-flow : row nowrap;
 	height : 100%;
 	width : calc(100% - 34px);
 	margin : 0 17px 17px;
 	background-color: #BAD4AA;
 	color : black;
 	max-width : 600px;
 	max-height : 800px;
 	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

.remove-icon-select{
	transform : translate(-100%);
}

.icon-select-inner {
 	display : flex;
	flex-flow : column nowrap;
 	justify-content : space-between;
 	margin : 0 17px 17px;
 	height : calc(100% - 17px);
 	width : 100%;
}

.select-text {
	display : flex;
	flex-direction : column;
	justify-content: center;
	text-align : center;
	height : 10%;
	font-size : 20px;
	color: #F5FAF0;
	font-weight : 300;
}

.highlight {
	font-weight : 800;
	color : #fff;
}

.icon-preview {
	display: flex;
	flex-flow : row nowrap;
 	height : 40%;
 	width : 100%;
 	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
 	display : flex;
 	flex-direction: row;
}

.canvas-outer {
	height : 100%;
	width : 75%;
	border : none;
	border-right : none;
	background-color: #fff;
	flex : 1 1 75%;
}

.canvas-inner {
	height : 100%;
	max-width : 312px;
	width : 100%;
	margin : 0 auto;
	border : none;
	background-size : 100% 100%;
}

.incompatible-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align  :center;
}

.incompatible-icon::after {
	content : "Sorry, your icon is unavailable in this colour!";
}

.palette {
	height : 100%;
	width : 25%;
	display : flex;
	flex-flow : column wrap;
	border : none;
	flex : 1 1 20%;
}

.colour {
	width : 50%;
	box-sizing : border-box;
	height : 10%;
	border : 1px solid #fff;
	cursor : pointer;
}

.colour:hover {
	border-color : yellow;
}

.yellow:hover {
	border-color : #fff;
}

.black {
	background-color : #000000;
}

.grey {
	background-color: #7f7f7f;
}

.dark-red {
	background-color : #880015;
}

.light-red {
	background-color : #ed261a;
}

.orange {
	background-color : #ff7f27;
}

.yellow {
	background-color : #fff200;
}

.dark-green {
	background-color : #22b14c;
}

.light-blue2 {
	background-color : #99d9ea;
}

.dark-blue2 {
	background-color : #7092be;
}

.light-purple {
	background-color : #c8bfe7;;
}

.white {
	background-color : #fff;
}

.silver {
	background-color: #c3c3c3;
}

.brown {
	background-color : #b97a57;
}

.pink {
	background-color : #ffaec9;
}

.gold {
	background-color : #ffc90e;
}

.almond {
	background-color : #efe4b0;
}

.light-green {
	background-color : #b5e61d;
}

.light-blue1 {
	background-color : #00a2e8;
}

.dark-blue1 {
	background-color : #3f48cc;
}

.purple {
	background-color : #a349a4;
}

.icon-showcase {
 	display : flex;
 	flex-flow : row wrap;
 	justify-content : space-between;
 	align-items : flex-start;
 	min-height : 50px;
 	max-height : 125px;
 	width : 100%;
 	margin : 17px 0 0;
}

.icon {
	position : relative;
	margin : 0 2%;
 	flex : 1 1 20%;
 	min-width : 0;
 	max-width : 25%;
 	min-height : 0;
 	height : calc(55.5px + (68.5 * (100vw - 320px) / 315));
 	max-height : 100%;
 	object-fit : contain;
 	cursor : pointer;
 	background-image : #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-size : 100% 100%;
}

.icon:hover {
	border-color : #BAD4AA;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.null-icon {
	pointer-events : none;
}

.null-icon::after {
	content : "";
	display : block;
	height : 100%;
	width : 100%;
	background-color : red;
	position : absolute;
	top : 0;
	left : 0;
	opacity : 0.3;
}

.circle {
	background-image : url("icons/circle/circle black.png");
}

.smiley {
	background-image : url("icons/smiley/smiley yellow.png");
}

.wheel {
	background-image : url("icons/wheel/wheel black.png");
}

.button {
	background-image : url("icons/button/button black.png");
}

.cross {
	background-image : url("icons/cross/cross black.png");
}

.swords {
	background-image : url("icons/swords/swords brown.png");
}

.candy-cane {
	background-image : url("icons/candy-cane/candy-cane light-red.png");
}

.pencils {
	background-image : url("icons/pencils/pencils gold.png");
}

.left-edge {
 	margin-left : 0;
}

.right-edge {
 	margin-right : 0;
}

.confirm-btn, .back-btn, .first-move-btn {
 	height : 15%;
 	margin-top : 17px;
 	background-color : #7BE0AD;
 	border : none;
 	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
 	transition : all 300ms ease-in-out;
 	font-family : "BioRhyme";
 	color : #fff;
 	cursor : pointer;
}

.confirm-btn {
	cursor : not-allowed;
}

.computer-btn-div {
	height : 15%;
	margin-top : 17px;
}

.computer.confirm-btn {
	margin-top : 0;
	height : 100%;
	width : 73%;
}

.back-btn {
	margin-top : 0;
	height : 100%;
	width : 25%;
	background-color : #F9AB55;
}

.confirm-btn:hover, .confirm-btn:focus, .rematch-btn:hover, .rematch-btn:focus, .first-move-btn:hover, .first-move-btn:focus {
	background-color : #93E5BB;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.game-wrapper {
	display : flex;
	flex-flow : column nowrap;
	justify-content : center;
	align-items : center;
	height : 90%;
	width : 100%;
	position : absolute;
	top : 10%;
	left : 0;
}

.icon-select-btn-div {
	min-height : 12%;
	height: 12%;
	width : 80%;
	max-width: 53.33vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content : space-between;
	align-items : center;
	margin-bottom : 20px;
}

.open-icon-select-btn {
	height : 100%;
	width  : 11vh;
	background-size : 100%, 100%;
 	cursor : pointer;
 	background-color : #fff;
 	border : none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.open-icon-select-btn:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.vs {
	font-size : 45px;
}

.hidden {
	visibility : hidden;
}

.game-outer {
	position : relative;
	display : flex;
	flex-flow : row wrap;
	border  : none;
	width : 80%;
	max-width: 53.33vh;
	height : 80vw;
	max-height : 53.33vh;
	margin-bottom : 20px;
}

.valign {
	line-height : 50px;
	vertical-align : middle;
}

.game-control-div {
	width : 80%;
	max-width: 53.33vh;
	min-height: 12%;
	height  : 12%;
	margin-bottom : 20px;
	display: flex;
	flex-flow: row nowrap;
}

.rematch-btn, .swap-btn {
 	height : 100%;
 	background-color : #7BE0AD;
 	border : none;
 	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
 	transition : all 300ms ease-in-out;
 	font-family : "BioRhyme";
 	color : #fff;
 	cursor : pointer;
 	margin : 0 2px;
 	padding : 0px;
 	flex : 1 1 62%;
 }

.swap-btn {
	background-color : #F9AB55;
	flex : 1 1 29%;
	margin : 0 2px;
	color : #F9AB55;
}

.btn-flash {
	animation : btnFlash 2s linear 0s 1 none;
}

.swap-btn:hover, .swap-btn:focus, .back-btn:hover, .back-btn:focus {
	background-color : #FAC183;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	transition : all 300ms ease-in-out;
}

.inner-square {
	border :none;
	margin : 2px;
	background-color : #fff;
	flex : 1 1 31%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	cursor: pointer;
}

.inner-square:hover {
	background-color : #BAD4AA;
}

.user-square {
	background-size : 100% 100%;
	pointer-events: none;
}

.computer-square {
	pointer-events: none;
	background-size : 100% 100%;
}

.selected {
	pointer-events: none;
}

.end-game, .first-move-div {
	position : absolute;
	top : 40%;
	height : 20%;
	left : 1%;
	width : 98%;
	border : none;
	background-color : #7BE0AD;
	flex-direction: column;
	justify-content: center;
	text-align  :center;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	font-size : 35px;
	display : none;
}

.first-move-div {
	top : 20%;
	left : 10%;
	display : block;
	height : 60%;
	width : 80%;
	background-color : #F9AB55;
	padding : 0;
	margin : 0;
}

.remove-first-move-div {
	display : flex;
	font-size : 13.3333px;
	justify-content : center;
	align-items : center;
	background-color : #F9AB55;
	animation : btnMerge 1s linear 0s 1 forwards;
	animation-fill-mode: forwards;
}

.first-move-text {
	margin-top : 10px;
	height : 40%;
}

.first-move-btn-div {
	height : calc(60% - 10px);
	width : 80%;
	margin : 0 auto;
	display : flex;
	flex-flow : row nowrap;
	justify-content : space-around;
	align-items: center;
}

.first-move-btn {
	height : 60%;
	width  : 40%;
	margin-top : 0;
}

.computer-win, .draw, .user-win {
	display : flex;
}

.user-win::after {
	content : "PLAYER WIN!";
}

.draw::after {
	content : "DRAW!";	
}

.computer-win::after {
	content : "AI WIN!";
}

@media (min-aspect-ratio : 360/640) {

	.canvas-inner {
		width : 100%;
	}

}

@media (min-aspect-ratio : 2/3) {

	.canvas-inner {
		width : 80%;
	}
	
}

@media (min-width : 635px) {

	.icon {
		height : 125px;
	}
}

@media (min-width : 768px) and (min-height : 1024px) {

	.icon-select-outer {
		margin : 0 auto;
	}

}

@keyframes btnMerge {
	
	0% {

	}

	99.98% {
		height : 5.4vh;
		width : 15%;
		left : 75%;
		top : -23%;
		box-shadow : none;
		background-color : #F9AB55;
		z-index : 0;
	}

	100% {
		height : 5.4vh;
		width : 15%;
		left : 75%;
		top : -23%;
		box-shadow : none;
		background-color: transparent;
		z-index : -10;
	}

}

@keyframes btnFlash {

	0% {
		background-color : #F9AB55;
		color :  #F9AB55;
	}

	50%{
		background-color : #F9AB55;
		color :  #F9AB55;
	}

	60%{
		background-color : #F9AB55;
		color :  #fff;
	}

	70% {
		background-color : #FAC183;
		color :  #fff;
	}

	80% {
		background-color : #F9AB55;
		color :  #fff;
	}

	90% {
		background-color : #FAC183;
		color :  #fff;
	}

	100% {
		background-color : #F9AB55;
		color :  #fff;
	}

}

